@model AutoMarket.Models.Truck

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Truck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckLoadCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckLoadCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckBrand.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckModel.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckCondition.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckColor.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckFuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckFuelType.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckMileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckMileage.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckTransmissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckTransmissionType.TransmissionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckVersion.VersionType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
