@model AutoMarket.Models.Truck

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Truck</h4>
    <hr />
    @if (Model.TruckPhotos != null && Model.TruckPhotos.Any())
    {
        <div class="row">
            @foreach (var photo in Model.TruckPhotos)
            {
                <div class="col-md-3 mb-3">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(photo.PhotoData)" alt="Car Photo" class="img-fluid" />
                </div>
            }
        </div>
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckLoadCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckLoadCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckBrand.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckModel.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckCondition.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckColor.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckFuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckFuelType.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckMileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckMileage.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckTransmissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckTransmissionType.TransmissionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckVersion.VersionType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
